html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Montserrat", sans-serif;
}

.fotoDestaque {
    width: 100%; 
    height: 300px;
}

.fotoDestaque img {
    width: 100%; 
    height: 100%;
}

.tituloForm {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}
 
.form {
    background-color:rgba(47, 61, 29, 0.9);;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

label {
    width: 200px; 
    display: inline-block; 
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="text"]{
    width: 300px; 
    height: 25px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

input[type="email"]{
    width: 300px; 
    height: 25px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

::placeholder {
    line-height: 2; 
    font-family: Arial, Helvetica, sans-serif;
  }

textarea {
    width: 300px; 
    height: 30px;
    border-radius: 20px;
    border: none;
    text-align: center;
}


.enviar {
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
}

.enviar:hover {
    background-color:rgba(47, 61, 29, 0.9);;
    border: none;
    color: white;
}

.footerDireitos {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(47, 61, 29, 0.9);;
    margin: 0%;
}

.imagem {
    cursor: pointer;
}

.texto {
    color:rgba(47, 61, 29, 0.9);
    display: none;
    padding-top: 30px;
}

.tituloEquipe {
    text-align: center;
    margin-top: 80px;
    color:rgba(47, 61, 29, 0.9);

}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 100px;
    font-size: 25px;
}

.circulo{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: rgba(47, 61, 29, 0.9);
    justify-content: center;
    align-items: center;
}

.circulo:hover{
    transform: scale(1.1);
}

.circulo img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}


