* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
}

body{
    background-color:rgba(106, 116, 93, 0.9);
}

.header {
    display: flex;
    position: absolute;
    width: 100%; 
    height: 300px;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header img{
    height: 60%;
    padding: 30px;
    position: absolute;
    z-index: 5;
}

.tituloForm {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

.container {
    display: wrap;
    background-color: rgba(233, 240, 224);
    top: 26%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    min-width: 100%;
    min-height: 30rem;
    height: auto;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    font-size: 25px;
    z-index: 2;
    align-items: center;
}

.container00{
    top: 23%;
    min-width: 100%;
    height: auto;
    position: absolute;
    z-index: 3;
}

.tituloEquipe {
    text-align: center;
    color:rgba(47, 61, 29, 0.9);
    justify-content: center;
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 23%;
}

.container02 {
    width: 100vw;
    position: absolute;
    top: 20%;
    background-color:  rgba(233, 240, 224, 0.7);
    position: absolute;
    z-index: 1;
    min-height: 36rem;
  }

.imagem {
    cursor: pointer;
}

.texto {
    color:rgba(47, 61, 29, 0.9);
    display: none;
    padding-top: 30px;
}

.container01{
    padding-top: 80px;
}

.circulo{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgba(47, 61, 29, 0.9);
    justify-content: center;
    align-items: center;
}

.circulo:hover{
    transform: scale(1.1);
}

.circulo img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
}

#githubIcon {
    width: 40px;
    height: 40px;
    border: 0;
    text-decoration: none;
    
}

#linkedinIcon {
    width: 40px;
    height: 40px;
    border: 0;
}

#jokerIcon {
    width: 40px;
    height: 40px;
    border: 0;
}

.classeA {
    color: rgba(0, 0, 0, 0);
}

#githubIcon:hover {
    transform: scale(1.15);
}

#linkedinIcon:hover {
    transform: scale(1.15);
}

#jokerIcon:hover {
    transform: scale(1.15);
}