.navigation{
    display: flex;
    position: absolute;
    z-index: 8;
    top: 20px;
    left: 30px;
  }

  .navigation span{
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .night-mode {
/* Background color for night mode */
background-color: #222;

/* Text color for night mode */
color: #ddd;

/* Adjust other styles as needed */
h2 {
  color: #eee; /* Brighter heading color */
}
.containerFotos img {
  filter: grayscale(100%); /* Make images grayscale */
}
.linkContato {
  color: #ddd; /* Adjust link color */
}
.linkContato:hover {
  color: #fff; /* Adjust hover color */
}
.novoLogo img:hover {
  filter: none; /* Disable hover effect on logo */
}
.primeiroContainer{
    background-color: #272E43;
}
.segundoContainer{
  background-color: #394261;
}
.terceiroContainer{
    background-color: #1E222C;
}
.caixaFotos{
    background-color: #1E222C;
}
.temaCentral{
    background-color: #1E222C;
}
.etiquetaNav{
    background-color: #1E222C;
}
.novoLogo{
    filter: grayscale(100%);
}
.novoLogo img:hover{
    filter: invert(100%);
}
.containerPrincipal{
    background-color: #222;
}
.containerPrincipal video{
    filter: grayscale(100%);
    opacity: 30%;
}
}

  