* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.temaCentral {
  text-align: center;
  background-color: rgb(71, 91, 42);
    color: rgb(233, 240, 224);
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
    font-weight: 400;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.247);
  }
  
  .fontTema {
    font-family: "Vujahday Script", cursive;
    text-decoration: none;
    color: rgb(233,240,224);
  }
  
  .footerDireitos {
    margin-bottom: 14px;
  }
  
  /*-----video de fundo -----*/
  .container01 {
    position: relative;
    min-height: 100%;
    width: 99vw;
    z-index: 0;
    position: fixed;
    align-items: end;
  }
  .videoBack {
    min-width: 100%;
    z-index: 0;
  }
  
  /*-----retangulos decorativos-----*/
  .container02 {
    width: 100vw;
    height: 22.575rem;
    top: 35%;
    background-color:  rgba(233, 240, 224, 0.7);
    position: absolute;
    z-index: 1;
  }
  .container03 {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.250);
    width: 100vw;
    height: 18.625rem;
    top: 40%;
    background-color: rgb(233, 240, 224);
    position: absolute;
    z-index: 3;
    font-optical-sizing: auto;
  }

  .Logo {
    display: flex;
    position: absolute;
    top: 1%;
    z-index: 6;
    width: 30%;
    height: 37%;
    justify-content: center;
    left: 35%;
  } 

  .container03 h2{
    font-size: 25px;
    font-style: oblique;
  }

  .container04 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 8px;
    width: 50vw;
    min-height: 28.125rem;
    height: auto;
    top: 25%;
    left: 25%;
    background-color:  rgba(47, 61, 29);
    position: absolute;
    z-index: 2;
    color: rgb(233, 240, 224) ;
  }

  .container04 h4{
    padding: 15px;
  }

  .container04 li{
    text-align: left;
  }

 .selected{
    padding-top: 430px;
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
  }

  .containerContato {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    width: 10vw;
    height: 5.125rem;
    top: 30%;
    right: 10%;
    background-color: rgb(71, 91, 42);
    position: absolute;
    transform: rotate(4deg);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
  }

  .containerContato:hover{
    transform: scale(1.1);
  }
  
  /*-----fotos-----*/
  .containerFotos {
    border-radius: 2px;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 12.5rem;
    top: 49%;
    left: 10%;
    background-color:  rgba(47, 61, 29, 0.9);
    color: rgb(233, 240, 224);
    position: absolute;
    transform: rotate(-4deg);
    z-index: 4;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .containerFotos:hover{
    transform: scale(1.2);
  }
  .containerFotos02:hover{
    transform: scale(1.2);
  }
  .containerFotos03:hover{
    transform: scale(1.2);
  }

  .img01 {
    max-height: 8.125rem;
    margin: 0.625rem;
  }
  
  .containerFotos02 {
    border-radius: 2px;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 12.5rem;
    top: 49%;
    left: 40%;
    background-color:  rgba(47, 61, 29, 0.9);
    color: rgb(233, 240, 224);
    position: absolute;
    transform: rotate(4deg);
    z-index: 4;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .img02 {
    height: 8.125rem;
    margin: 0.625rem;
    width: 16.25rem;
  }
  
  .containerFotos03 {
    border-radius: 2px;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 12.5rem;
    top: 49%;
    right: 10%;
    background-color:  rgba(47, 61, 29, 0.9);
    color: rgb(233, 240, 224);
    position: absolute;
    transform: rotate(-4deg);
    z-index: 4;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .img03 {
    max-height: 8.125rem;
    margin: 0.625rem;
    width: 16.25rem;;
  }
  .carousel-item img {
    object-fit: cover; 
    height: 465px;
  }

  