* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linkContato{
  font-size: 22px;
  text-decoration: none;
  color: rgba(47, 61, 29, 0.9);
}

.linkContato:hover{
  color: rgba(47, 61, 29, 0.9);
}


.homenagem {
  position: absolute;
  color: rgb(233, 240, 224);
  right: 1%;
  top: 69%;
}

.novoLogo {
  position: absolute;
  top: -34%;
  width: 300px;
  z-index: 3;
}

.temaCentral {
  text-align: center;
  background-color: rgb(233, 240, 224);
  margin-top: 5px;
  height: 35px;
  border-radius: 20px;
  padding: 0 20px;
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.247);
}

.fontTema {
  font-family: "Vujahday Script", cursive;
}

.footerDireitos {
  margin-bottom: 20px;
}

/*-----video de fundo -----*/
.container01 {
  position: relative;
  min-height: 100%;
  width: 99vw;
  z-index: 0;
  position: fixed;
}

.videoBack {
  max-height: 100%;
  z-index: 0;
}

/*-----retangulos decorativos-----*/
.container02 {
  width: 100vw;
  height: 20.575rem;
  top: 35%;
  background-color: rgba(47, 61, 29, 0.9);
  position: absolute;
  z-index: 1;
}
.container03 {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.250);
  width: 100vw;
  height: 16.625rem;
  top: 40%;
  background-color: rgb(71, 91, 42);
  position: absolute;
  z-index: 3;
}
.container04 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 8px;
  width: 50vw;
  height: 35.125rem;
  top: 25%;
  left: 25%;
  background-color: rgb(233, 240, 224);
  position: absolute;
  z-index: 2;
}
.containerContato {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  width: 10vw;
  height: 4.125rem;
  top: 33%;
  right: 14%;
  background-color: rgb(233, 240, 224);
  transform: rotate(4deg);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.sobreEquipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  width: 10vw;
  height: 4.125rem;
  top: 33%;
  right: 3%;
  background-color: rgb(233, 240, 224);
  position: absolute;
  transform: rotate(4deg);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.linkContato{
  position: relative;
}

/*-----fotos-----*/
.containerFotoTotal{
  position: relative;
  display: flex;
  width: 100vw;
  height: 43.950rem;
}
.containerFotos {
  border-radius: 2px;
  box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 12.5rem;
  top: 49%;
  left: 10%;
  background-color: rgb(233, 240, 224);
  position: absolute;
  transform: rotate(-4deg);
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}
.img01 {
  max-height: 8.125rem;
  margin: 0.625rem;
}

.containerFotos02 {
  border-radius: 2px;
  box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 12.5rem;
  top:  49%;
  left: 40%;
  background-color: rgb(233, 240, 224);
  position: absolute;
  transform: rotate(4deg);
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}
.img02 {
  height: 8.125rem;
  margin: 0.625rem;
  width: 16.25rem;
}

.containerFotos03 {
  border-radius: 2px;
  box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 12.5rem;
  top: 49%;
  right: 10%;
  background-color: rgb(233, 240, 224);
  position: absolute;
  transform: rotate(-4deg);
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}
.img03 {
  max-height: 8.125rem;
  margin: 0.625rem;
  width: 16.25rem;;
}

.modal-header{
  display: flex;
  flex-direction: column;
}

.form-control{
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0;
}

.form-label{
  font-weight: bold;
}

/*-----transform-----*/

.linkContato::after{
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 0;
  background: rgba(47, 61, 29, 0.9);
  transition: width .2s;
}

.linkContato:hover::after{
  border-radius: 5px;
  width: 100%;
  color: rgba(47, 61, 29, 0.9);
}


.containerFotos:hover{
  transform: scale(1.1);
}
.sobreEquipe:hover{
  transform: scale(1.1);
}
.containerFotos02:hover{
  transform: scale(1.1);
}
.containerFotos03:hover{
  transform: scale(1.1);
}
.containerContato:hover{
  transform: scale(1.1);
}

@media  (max-width: 1150px) {
  .containerFotoTotal{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 25%;
    top: 38.5%;
    width: 50vw;
    height: 50rem;
    justify-content:space-evenly;
  }

  .containerFotos{
    position: static;
    margin: auto;
    margin-bottom: -28px;
  }
  .containerFotos02{
    position: static;
    margin: auto;
    margin-bottom: -28px;
  }
  .containerFotos03{
    position: static;
    margin: auto;
  }
  .container04{
    height: 56.125rem;
  }
  .novoLogo{
    top: -85px;
  }

  .sobreEquipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    width: 10vw;
    height: 4.125rem;
    top: 72.5%;
    right: 7%;
    background-color: rgb(233, 240, 224);
    position: absolute;
    transform: rotate(4deg);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }

  .containerContato{
    right: 7%;
  }
}