    * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

.temaCentral {
    position: absolute;
    text-align: center;
    background-color: rgb(71, 91, 42);
    color: rgb(233, 240, 224);
    top: 10px;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
    font-weight: 400;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.247);
  }
  
  .fontTema {
    font-family: "Vujahday Script", cursive;
    text-decoration: none;
    color: rgb(233,240,224);
  }
  
  .footerDireitos {
    margin-bottom: 14px;
  }
  
/*-----video de fundo -----*/
  .container01 {
    position: relative;
    min-height: 100vh;
    width: 105vw;
    z-index: 0;
    position: fixed;
  }
  .videoBack {  
    position: fixed;
    min-width: 100vw;
    min-height: 10vh;
    z-index: 0;
  }
  
  /*-----retangulos decorativos-----*/
  .container02 {
    width: 100vw;
    height: 54%;
    top: 30%;
    background-color:  rgba(233, 240, 224, 0.7);
    position: absolute;
    z-index: 1;
  }
  .container03 {
    display: flex;
    display: wrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.250);
    width: 100vw;
    min-height: 45%;
    height: auto;
    top: 34%;
    padding-top: 4%;
    background-color: rgb(233, 240, 224);
    position: absolute;
    z-index: 3;
  }

  .Logo {
    display: flex;
    position: absolute;
    top: 3%;
    left: 50%;
    z-index: 6;
    height: 15rem;
    justify-content: center;
  } 

  .novoLogo{
    position: absolute;
    height: 13vw;
  }

  .novoLogo:hover{
    filter: invert(150%);
  }

  .container03 h2{
    font-size: 25px;
    font-style: oblique;
  }

  .container04 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 8px;
    width: 50vw;
    min-height: 70%;
    height: auto;
    top: 22%;
    left: 25%;
    background-color:  rgba(47, 61, 29, 0.9);
    position: absolute;
    z-index: 2;
    color: rgb(233, 240, 224) ;
    padding-top: 65vh;

  }

  .container04 h4{
    padding: 15px;
  }

  .container04 li{
    text-align: left;
  }

 .selected{
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
  }

  .selected iframe{
    width: 90%;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.199);
  }

  .containerContato {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    width: 10vw;
    height: 4.125rem;
    top: 26%;
    right: 10%;
    background-color: rgb(71, 91, 42);
    position: absolute;
    transform: rotate(4deg);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
  }

  .containerContato:hover{
    transform: scale(1.1);
  }

  .linkContato{
    text-decoration: none;
  }

  .linkContato:hover{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.9);
  }

  .linkContato::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #fff;
    transition: width .2s;
  }

  .linkContato:hover::after{
    border-radius: 5px;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  }
  
  /*-----fotos-----*/
  .containerFotos {
    border-radius: 2px;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.199);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 18vw;
    background-color:  rgba(47, 61, 29, 0.9);
    color: rgb(233, 240, 224);
    transform: rotate(-4deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: x-large;
    padding-top: 0.5rem;
  }

  .containerFotos:hover{
    transform: scale(1.2);
  }

  .containerFotos img {
    height: 14vw;
    width: 23.5vw;
  }
  
  .carousel-item img {
    object-fit: cover; 
    height: 30vw;
  }

  @media (min-height: 720px){
    .containerContato{
      top: 28%;
      height: 10rem;
      padding-bottom: 7rem;
      font-size: xx-large;
    }
  }

  @media (max-width: 1080px ){
    .Logo{
      top: 2%;
      left: 18%;
    }

    .novoLogo{
      position: absolute;
      width: 7rem;
      height: 7rem;
    }
    
    .containerFotos{
      margin: 20px;
    }

    .containerContato{
      border-radius: 0px 0px 8px 8px;
      top:-1%;
      height: 5rem;
      width: 8rem;
      padding: 0;
    }

    .selected iframe{
      height: 15rem;
    }

    .temaCentral{
      position: absolute;
      top: -12%;
      font-size: small;
      margin: 0;
      padding-top: 10px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
      width: 70%;
    }

    .containerFotos{
      width: 22rem;
      height: 15rem;
    }
    .containerFotos img{
      width: 21rem;
      height: 12rem;
      max-height: 30rem;
    }

    .container04{
      padding-top: 80vw;
      width: 80%;
      left: 10%;
    }
  }
  
  @media (max-width: 905px){
    .container04{
      padding-top: 70vh;
    }
  }

  @media (max-width: 784px){
    .container04{
      padding-top: 137%;
    }
  }

  