body {
    margin: 0;
    padding: 0;
    background-image: url('/img/fotoverde.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Para garantir que a imagem cubra toda a altura da página */
    position: relative; /* Adicionado para que o footer fique no final da página */
}

header {
    background-color: #070732;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logohome {
    display: flex;
    height: 78px; /* Reduzindo um pouco o tamanho do logo para caber melhor no header */
    width: auto; /* Para manter a proporção do logo */
    text-align: left;
}

.h1Pesquisa {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pesquisa {
    position: absolute;
    top: 50%; /* Ajustando a posição vertical da pesquisa em relação à viewport */
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%; /* Utilizando uma largura relativa para se adaptar melhor a diferentes dispositivos */
    max-width: 900px; /* Limitando a largura máxima da caixa de pesquisa */
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    background-color: #070732;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #070732;
    padding: 10px 0;
}

.textorodape {
    display: flex;
    text-align: flex-end;
    justify-content: center;
    align-items: center; 
}

.textorodape p { 
color: #FBCC74;
position: fixed;
padding-top: 10px;
}

